.formNewOrder-wrapper {
  margin-bottom: 75px;
  .parallax-container{
    height: 220px;
    .container{
      position: relative;
      h3{
        font-family: Monstserrat, sans-serif;
        color: #FFFFFF;
        text-transform: uppercase;
        &:before{
          content: "";
          display:block;
          margin: auto;
          margin-top: 30px;
          height: 100px;
          width:125px;
          background-size: 125px 75px;
          background-position-y: 25px;
          background-image: url('/images/truck.svg');
          background-repeat: no-repeat;
        }
      }
    }
    .overlay {
      background: $turqouise;
      opacity: 0.7;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .col-title{
    background-color: $gray;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    p{
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
    }
  }

  #flash{
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: $turqouise;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  input{
    &:focus{
      border-bottom: 1px solid #96b8ff;
      box-shadow: 0 1px 0 0 #96b8ff;
    }
  }
  .submit-button-container{
    text-align: center;
  }
}