.orderList-wrapper {
  margin-bottom: 75px;
  .parallax-container{
    height: 220px;
    .container{
      position: relative;
      h3{
        font-family: Montserrat, sans-serif;
        color: #FFFFFF;
        text-transform: uppercase;
        &:before{
          content: "";
          display:block;
          margin: auto;
          margin-top: 30px;
          height: 100px;
          width:125px;
          background-size: 125px 75px;
          background-position-y: 25px;
          background-image: url('/images/truck.svg');
          background-repeat: no-repeat;
        }
      }
    }
    .overlay {
      background: $turqouise;
      opacity: 0.7;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .col-title{
    background-color: $gray;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    p{
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
    }

    .badge-container{
      float: right;
      .badge{
        color: #FFFFFF;
        border-radius: 15px;
        margin-right: 20px;
        &.pending{
          background-color: $blue;
        }
        &.delivered{
          background-color: $lightBlue;
        }
      }
    }
  }
  .row-datepicker{
    display: flex;
    margin-bottom: 0;
    padding-top: 20px;
    .date-selector{
      margin-right: 20px;
      label{
        display: block;
      }
      input{
        width: auto;
      }
    }
    .shift-selector{
      min-width: 130px;
      margin-right: 20px;
    }
    .store-selector{
      min-width: 130px;
      margin-right: 20px;
    }
    .clean-filters{
      a{
        color: $turqouise;
        line-height: 84px;
        &:hover{
          color: $lightBlue;
        }
      }
    }
  }
  .table-orders{
    overflow-y: scroll;
  }
  .orders-table{
    overflow: hidden;
    text-transform: lowercase;
    td,th{
      text-align: center;
    }
    .express{
      color: $turqouise;
    }
    .pending,
    .ongoing,
    .inside{
      border-right: 20px solid $blue;
      color: $blue;
      text-transform: capitalize;
    }
    .delivered{
      border-right: 20px solid $lightBlue;
      color: $lightBlue;
      text-transform: capitalize;
    }
  }
}