.ship-wrapper {
  height:100vh;
  .container-fluid{
    height:100vh;
    display: flex;
    flex-direction: column;
  }
  #map{
    width: 100%;
    height: 80%;
    flex: 1;
  }
  .order,.listedOrder{
    position: relative;
    background-color: $turqouise;
    color: #FFFFFF;
    padding: 20px;
    &.pending{
      text-align: center;
    }
    .payment-required{
      float: right;
      margin-right: 20px;
    }
    .no-elevator {
      position: absolute;
      right: 10px;
      top: 10px;
      &:before{
        content: "";
        display:block;
        margin: auto;
        height: 50px;
        width: 50px;
        background-size: 50px 50px;
        background-image: url('/images/stairs.svg');
        background-repeat: no-repeat;
      }
    }
    .totals-boxes{
      display: flex;
      justify-content: space-around;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .listOrders{
    .listedOrder{
      margin-top: 20px;
      &.delivered{
        background-color: $green;
      }
      &.wait{
        background-color: #bd0f0e;
      }
      &.soon{
        background-color: #e2cc2d;
      }
      &.late{
        background-color: #2f4f4f;
      }
      &.ready{
        background-color: #4dad36;
      }
      .payment-required{
        float: right;
        margin-right: 20px;
      }
      .timespan{
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}