html {
  height: 100%;
}
body {
  min-height: 100%;
  margin:0;
}
select{
  display: block;
}
.hidden{
  display: none;
}

.shadow{
  box-shadow: 0px 5px 20px black;
}

$gray: #353435;
$turqouise: #39a59a;
$blue: #0069ff;
$lightBlue: #00ced7;
$green: #76b852;

@import "login", "formNewOrder", "orderList", "ship";

#header{
  nav{
    background-color: $turqouise;
    .nav-wrapper{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 20px;
      .header-item{
        flex: 1;
        &.logout{
          text-align: right;
        }
      }
    }
  }
  .menu-container{
    color: $turqouise;
    display: flex;
    padding: 20px;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    li{
      a{
        color: $turqouise;
      }
      flex: 1;
      text-align: center;
      &:after {
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 30%; /* Change this to whatever width you want. */
        border-bottom: 2px solid #FFFFFF; /* This creates the border. Replace black with whatever color you want. */
      }
      &.active{
        &:after {
          border-bottom: 2px solid $turqouise; /* This creates the border. Replace black with whatever color you want. */
        }
      }
      &:hover{
        cursor: pointer;
        &:after {
          border-bottom: 2px solid $turqouise; /* This creates the border. Replace black with whatever color you want. */
        }
      }
    }
  }
}