html {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0; }

select {
  display: block; }

.hidden {
  display: none; }

.shadow {
  box-shadow: 0px 5px 20px black; }

.login-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .login-wrapper .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto; }
    .login-wrapper .login-page .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
      .login-wrapper .login-page .form img {
        width: 100%; }
      .login-wrapper .login-page .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px; }
      .login-wrapper .login-page .form .button-login {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer; }
        .login-wrapper .login-page .form .button-login:hover, .login-wrapper .login-page .form .button-login:active, .login-wrapper .login-page .form .button-login:focus {
          background: #43A047; }

.formNewOrder-wrapper {
  margin-bottom: 75px; }
  .formNewOrder-wrapper .parallax-container {
    height: 220px; }
    .formNewOrder-wrapper .parallax-container .container {
      position: relative; }
      .formNewOrder-wrapper .parallax-container .container h3 {
        font-family: Monstserrat, sans-serif;
        color: #FFFFFF;
        text-transform: uppercase; }
        .formNewOrder-wrapper .parallax-container .container h3:before {
          content: "";
          display: block;
          margin: auto;
          margin-top: 30px;
          height: 100px;
          width: 125px;
          background-size: 125px 75px;
          background-position-y: 25px;
          background-image: url("/images/truck.svg");
          background-repeat: no-repeat; }
    .formNewOrder-wrapper .parallax-container .overlay {
      background: #39a59a;
      opacity: 0.7;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
  .formNewOrder-wrapper .col-title {
    background-color: #353435;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: bold; }
    .formNewOrder-wrapper .col-title p {
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em; }
  .formNewOrder-wrapper #flash {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: #39a59a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .formNewOrder-wrapper input:focus {
    border-bottom: 1px solid #96b8ff;
    box-shadow: 0 1px 0 0 #96b8ff; }
  .formNewOrder-wrapper .submit-button-container {
    text-align: center; }

.orderList-wrapper {
  margin-bottom: 75px; }
  .orderList-wrapper .parallax-container {
    height: 220px; }
    .orderList-wrapper .parallax-container .container {
      position: relative; }
      .orderList-wrapper .parallax-container .container h3 {
        font-family: Montserrat, sans-serif;
        color: #FFFFFF;
        text-transform: uppercase; }
        .orderList-wrapper .parallax-container .container h3:before {
          content: "";
          display: block;
          margin: auto;
          margin-top: 30px;
          height: 100px;
          width: 125px;
          background-size: 125px 75px;
          background-position-y: 25px;
          background-image: url("/images/truck.svg");
          background-repeat: no-repeat; }
    .orderList-wrapper .parallax-container .overlay {
      background: #39a59a;
      opacity: 0.7;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
  .orderList-wrapper .col-title {
    background-color: #353435;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
    .orderList-wrapper .col-title p {
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em; }
    .orderList-wrapper .col-title .badge-container {
      float: right; }
      .orderList-wrapper .col-title .badge-container .badge {
        color: #FFFFFF;
        border-radius: 15px;
        margin-right: 20px; }
        .orderList-wrapper .col-title .badge-container .badge.pending {
          background-color: #0069ff; }
        .orderList-wrapper .col-title .badge-container .badge.delivered {
          background-color: #00ced7; }
  .orderList-wrapper .row-datepicker {
    display: flex;
    margin-bottom: 0;
    padding-top: 20px; }
    .orderList-wrapper .row-datepicker .date-selector {
      margin-right: 20px; }
      .orderList-wrapper .row-datepicker .date-selector label {
        display: block; }
      .orderList-wrapper .row-datepicker .date-selector input {
        width: auto; }
    .orderList-wrapper .row-datepicker .shift-selector {
      min-width: 130px;
      margin-right: 20px; }
    .orderList-wrapper .row-datepicker .store-selector {
      min-width: 130px;
      margin-right: 20px; }
    .orderList-wrapper .row-datepicker .clean-filters a {
      color: #39a59a;
      line-height: 84px; }
      .orderList-wrapper .row-datepicker .clean-filters a:hover {
        color: #00ced7; }
  .orderList-wrapper .table-orders {
    overflow-y: scroll; }
  .orderList-wrapper .orders-table {
    overflow: hidden;
    text-transform: lowercase; }
    .orderList-wrapper .orders-table td, .orderList-wrapper .orders-table th {
      text-align: center; }
    .orderList-wrapper .orders-table .express {
      color: #39a59a; }
    .orderList-wrapper .orders-table .pending,
    .orderList-wrapper .orders-table .ongoing,
    .orderList-wrapper .orders-table .inside {
      border-right: 20px solid #0069ff;
      color: #0069ff;
      text-transform: capitalize; }
    .orderList-wrapper .orders-table .delivered {
      border-right: 20px solid #00ced7;
      color: #00ced7;
      text-transform: capitalize; }

.ship-wrapper {
  height: 100vh; }
  .ship-wrapper .container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column; }
  .ship-wrapper #map {
    width: 100%;
    height: 80%;
    flex: 1; }
  .ship-wrapper .order, .ship-wrapper .listedOrder {
    position: relative;
    background-color: #39a59a;
    color: #FFFFFF;
    padding: 20px; }
    .ship-wrapper .order.pending, .ship-wrapper .listedOrder.pending {
      text-align: center; }
    .ship-wrapper .order .payment-required, .ship-wrapper .listedOrder .payment-required {
      float: right;
      margin-right: 20px; }
    .ship-wrapper .order .no-elevator, .ship-wrapper .listedOrder .no-elevator {
      position: absolute;
      right: 10px;
      top: 10px; }
      .ship-wrapper .order .no-elevator:before, .ship-wrapper .listedOrder .no-elevator:before {
        content: "";
        display: block;
        margin: auto;
        height: 50px;
        width: 50px;
        background-size: 50px 50px;
        background-image: url("/images/stairs.svg");
        background-repeat: no-repeat; }
    .ship-wrapper .order .totals-boxes, .ship-wrapper .listedOrder .totals-boxes {
      display: flex;
      justify-content: space-around; }
    .ship-wrapper .order .buttons, .ship-wrapper .listedOrder .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  .ship-wrapper .listOrders .listedOrder {
    margin-top: 20px; }
    .ship-wrapper .listOrders .listedOrder.delivered {
      background-color: #76b852; }
    .ship-wrapper .listOrders .listedOrder.wait {
      background-color: #bd0f0e; }
    .ship-wrapper .listOrders .listedOrder.soon {
      background-color: #e2cc2d; }
    .ship-wrapper .listOrders .listedOrder.late {
      background-color: #2f4f4f; }
    .ship-wrapper .listOrders .listedOrder.ready {
      background-color: #4dad36; }
    .ship-wrapper .listOrders .listedOrder .payment-required {
      float: right;
      margin-right: 20px; }
    .ship-wrapper .listOrders .listedOrder .timespan {
      position: absolute;
      top: 5px;
      right: 5px; }

#header nav {
  background-color: #39a59a; }
  #header nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px; }
    #header nav .nav-wrapper .header-item {
      flex: 1; }
      #header nav .nav-wrapper .header-item.logout {
        text-align: right; }
#header .menu-container {
  color: #39a59a;
  display: flex;
  padding: 20px;
  margin: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  #header .menu-container li {
    flex: 1;
    text-align: center; }
    #header .menu-container li a {
      color: #39a59a; }
    #header .menu-container li:after {
      content: "";
      /* This is necessary for the pseudo element to work. */
      display: block;
      /* This will put the pseudo element on its own line. */
      margin: 0 auto;
      /* This will center the border. */
      width: 30%;
      /* Change this to whatever width you want. */
      border-bottom: 2px solid #FFFFFF;
      /* This creates the border. Replace black with whatever color you want. */ }
    #header .menu-container li.active:after {
      border-bottom: 2px solid #39a59a;
      /* This creates the border. Replace black with whatever color you want. */ }
    #header .menu-container li:hover {
      cursor: pointer; }
      #header .menu-container li:hover:after {
        border-bottom: 2px solid #39a59a;
        /* This creates the border. Replace black with whatever color you want. */ }

/*# sourceMappingURL=main.css.map */
