{% extends 'base.html.twig' %}

{% block body %}

    {#{% if is_granted('ROLE_ADMIN') %}
        {{ dump(app.user) }}
    {% endif %}#}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="login-wrapper">
        <div class="login-page">
            <div class="form">
                <img src="{{ asset('images/kiwi-logo.png') }}"/>
                <form class="login-form" action="{{ path('app_core_security_login') }}" method="post">
                    <input type="text" value="{{ lastUsername }}" placeholder="username" name="_username"/>
                    <input type="password" id="password" name="_password" placeholder="password"/>
                    <button type="submit" class="button-login">Entrar</button>
                    <input type="hidden" name="_target_path" value="/">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
