{% extends 'base.html.twig' %}

{% block body %}

    <div class="ship-wrapper">
        <div class="container-fluid">
            <div id="sf-data" data-data="{{ orders.toScalar|json_encode() }}"></div>

            <div id="map"></div>
            <div class="orders">
                <div class="order pending">
                    Pedidos Pendientes ({{ orders.list|length }})
                </div>
                {% for order in orders.list %}
                    {% set GoogleMaps = 'http://maps.google.com/?q='~order.destination.latitude~'+'~order.destination.longitude %}
                    {% set status = 'Dentro' %}
                    {% set url = path('app_shop_order_ongoing', {id: order.id}) %}

                    {% if order.status == 'ongoing' %}
                        {% set status = 'Dentro' %}
                        {% set url = path('app_shop_order_inside', {id: order.id}) %}
                    {% endif %}
                    {% if order.status == 'inside' %}
                        {% set status = 'Entregar' %}
                        {% set url = path('app_shop_order_deliverorder', {id: order.id}) %}
                    {% endif %}

                    <div id="{{ order.id }}" class="order hidden">
                        <div>{{ order.destination.address }}</div>
                        <div><b>Planta:</b>{{ order.destination.floor }} <b>Puerta:</b>{{ order.destination.door }}</div>
                        <div>{{ order.clientName }} ({{ order.clientPhone }})</div>
                        <div>Tienda: {{ order.store.name }}</div>

                        {% if not order.destination.hasElevator %}
                            <span class="no-elevator"></span>
                        {% endif %}

                        <div class="s12 timewindow">
                            <span>De {{ order.startTime|date('H:i') }}h a {{ order.endTime|date('H:i') }}h</span>
                        </div>

                        <div class="s12 totals-boxes">
                            <div class="s4">Total AM: {{ order.boxes }}</div>
                            <div class="s4">Total FR: {{ order.cooled }}</div>
                            <div class="s4">Total CO: {{ order.frozen }}</div>
                        </div>
                        <br>
                        <div class="container buttons">
                            <button class="waves-effect waves-light btn red darken-1 disabled">Incidencia</button>
                            {% if order.status == 'pending' %}
                                <button class="waves-effect waves-light btn" onclick="setOrderOngoing('{{ order.id }}')">Voy</button>
                            {% endif %}
                            {% if order.status == 'ongoing' %}
                                <button class="waves-effect waves-light btn" onclick="setOrderInside('{{ order.id }}')">Entrando</button>
                            {% endif %}
                            {% if order.status == 'inside' %}
                                <button class="waves-effect waves-light btn" onclick="setOrderDelivered('{{ order.id }}')">Entregado</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="listOrders">
            {% for order in orders.list %}
                {% set class = 'wait' %}

                {% if "now"|date("H")|number_format < order.startTime|date('H')|number_format and "now"|date("H")|number_format >= (order.startTime|date('H')|number_format - 1) %}
                    {% set class = 'soon' %}
                {% endif %}

                {% if "now"|date("H")|number_format >= order.startTime|date('H')|number_format and "now"|date("H")|number_format <= (order.endTime|date('H')|number_format) %}
                    {% set class = 'ready' %}
                {% endif %}

                {% if "now"|date("H")|number_format >= order.endTime|date('H')|number_format and "now"|date("i")|number_format > order.endTime|date('i')|number_format %}
                    {% set class = 'late' %}
                {% endif %}

                <div class="listedOrder {{ class }}">
                    {% if order.needsPayment %}
                        <span class="payment-required"><i class="material-icons money">attach_money</i></span>
                    {% endif %}
                    <span class="timespan">{{ order.startTime|date('H:i') }}h - {{ order.endTime|date('H:i') }}h</span>
                    <div>{{ order.clientName }} ({{ order.clientPhone }})</div>
                    <div>{{ order.destination.address }} <b>Esc:</b>{{ order.destination.stair }} <b>Planta:</b>{{ order.destination.floor }} <b>Puerta:</b>{{ order.destination.door }}</div>
                    <div>Tienda: {{ order.store.name }}</div>

                    <div class="hiddenn">
                        <br>
                        <div class="container buttons">
                            <button class="waves-effect waves-light btn red darken-1 disabled">Incidencia</button>
                            {% if order.status == 'pending' %}
                                <button class="waves-effect waves-light btn" onclick="setOrderOngoing('{{ order.id }}')">Voy</button>
                            {% endif %}
                            {% if order.status == 'ongoing' %}
                                <button class="waves-effect waves-light btn" onclick="setOrderInside('{{ order.id }}')">Entrando</button>
                            {% endif %}
                            {% if order.status == 'inside' %}
                                <button class="waves-effect waves-light btn" onclick="setOrderDelivered('{{ order.id }}')">Entregado</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function sameDay(d1, d2) {
            return d1.getFullYear() === d2.getFullYear() &&
                d1.getMonth() === d2.getMonth() &&
                d1.getDate() === d2.getDate();
        }

        function parseAtomDate(dateStr) {
            let yy    = dateStr.substring(0, 4);
            let mo    = dateStr.substring(5, 7);
            let dd    = dateStr.substring(8, 10);
            let hh    = dateStr.substring(11, 13);
            let mi    = dateStr.substring(14, 16);
            let ss    = dateStr.substring(17, 19);
            let tzs   = dateStr.substring(19, 20);
            let tzhh  = dateStr.substring(20, 22);
            let tzmi  = dateStr.substring(23, 25);
            let myutc = Date.UTC(yy - 0, mo - 1, dd - 0, hh - 0, mi - 0, ss - 0);
            let tzos  = (tzs + (tzhh * 60 + tzmi * 1)) * 60000;
            return new Date(myutc - tzos);
        }

        let divData   = document.getElementById('sf-data');
        window.sfData = JSON.parse(divData.dataset.data);

        divData.remove();
        window.orders = sfData.list;
        delete sfData;
    </script>

    <script async defer src="{{ asset('js/map.js') }}"></script>
    <script>
        function loadMap() {
            window.map = new Map('map', {
                zoom: 13,
                streetViewControl: false,
                styles: [
                    {
                        "featureType": "poi",
                        "stylers": [
                            {"visibility": "off"}
                        ]
                    }],
                disableDefaultUI: false,
                gestureHandling: 'greedy',
                center: {lat: 41.390205, lng: 2.154007}
            });

            for (let order of orders) {

                map.addOrder(order, () => {

                });
            }
        }

        function setOrderOngoing(id) {
            $.ajax({
                url: `/api/shop/order/${id}/ongoing`,
                type: 'POST',
                contentType: "application/json",
                success: () => {
                    alert('El pedido se ha actualizado correctamente');
                    location.href = location.href;
                },
                error: (data) => {
                    console.log(data);
                    alert(data.responseJSON.error);
                    button.disabled = false;
                }
            });
        }

        function setOrderInside(id) {
            $.ajax({
                url: `/api/shop/order/${id}/inside`,
                type: 'POST',
                contentType: "application/json",
                success: () => {
                    alert('El pedido se ha actualizado correctamente');
                    location.href = location.href;
                },
                error: (data) => {
                    alert(data.responseJSON.error);
                    button.disabled = false;
                }
            });
        }

        function setOrderDelivered(id) {
            $.ajax({
                url: `/api/shop/order/${id}/delivered`,
                type: 'POST',
                contentType: "application/json",
                success: () => {
                    alert('El pedido se ha actualizado correctamente');
                    location.href = location.href;
                },
                error: (data) => {
                    alert(data.responseJSON.error);
                    button.disabled = false;
                }
            });
        }

        function changeStatus(button, url) {
            let newUrl = '';
            let label  = '';
            let a      = document.getElementById('going-link');
            $.ajax({
                url: url,
                type: 'POST',
                contentType: "application/json",
                success: function (data) {

                },
                error: function () {
                    button.disabled = false;
                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?client=gme-nektriasl&callback=loadMap"></script>

    {# >>> Websockets #}
    {#<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script>
        /"use strict";

        let webSocket = WS.connect("{{ ws_host_schema }}://{{ ws_host_name }}:{{ ws_host_port }}");

        webSocket.on("socket/connect", session => {
            console.log("Successfully Connected!");

            session.subscribe("admin/order", (uri, payload) => {

                let data = null;
                if (typeof payload.msg === 'string' || payload.msg instanceof String) {
                    data = JSON.parse(payload.msg);
                    data = data.data;
                } else {
                    data = payload.msg.data;
                }

                let url       = location.href.split('/');
                let from      = url[url.length - 1].split('-');
                let today     = new Date(from[2], from[1] - 1, from[0]);
                let orderDate = parseAtomDate(data.endTime);

                if (sameDay(today, orderDate)) {
                    console.log(':D');
                    window.map.addOrder(data, () => {
                    });
                } else {
                    console.log(':(');
                }
            });
        });

        webSocket.on("socket/disconnect", function (error) {
            console.log("Disconnected for " + error.reason + " with code " + error.code);
        });
    </script>#}
    {# Websockets <<< #}
{% endblock %}


