{% extends 'base.html.twig' %}

{% block body %}
    <h1>Locations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Streetname</th>
                <th>Stairbuilding</th>
                <th>Floor</th>
                <th>Door</th>
                <th>City</th>
                <th>Postalcode</th>
                <th>Elevator</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations.list %}
            <tr>
                <td><a href="{{ path('app_shop_location_show', { 'id': location.id }) }}">{{ location.id }}</a></td>
                <td>{{ location.name }}</td>
                <td>{{ location.stairBuilding }}</td>
                <td>{{ location.floor }}</td>
                <td>{{ location.door }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.postalCode }}</td>
                <td>{{ location.elevator }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_shop_location_show', { 'id': location.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_shop_location_edit', { 'id': location.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_shop_location_new') }}">Create a new location</a>
        </li>
    </ul>
{% endblock %}
