{% extends 'base.html.twig' %}

{% block body %}
    <h1>Location</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>Streetname</th>
                <td>{{ location.name }}</td>
            </tr>
            <tr>
                <th>Stairbuilding</th>
                <td>{{ location.stairBuilding }}</td>
            </tr>
            <tr>
                <th>Floor</th>
                <td>{{ location.floor }}</td>
            </tr>
            <tr>
                <th>Door</th>
                <td>{{ location.door }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ location.city }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ location.postalCode }}</td>
            </tr>
            <tr>
                <th>Elevator</th>
                <td>{{ location.elevator }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ location.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ location.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_shop_location_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_shop_location_edit', { 'id': location.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
