{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merchants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for merchant in merchants.list %}
            <tr>
                <td><a href="{{ path('app_shop_merchant_show', { 'id': merchant.id }) }}">{{ merchant.id }}</a></td>
                <td>{{ merchant.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_shop_merchant_show', { 'id': merchant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_shop_merchant_edit', { 'id': merchant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_shop_merchant_new') }}">Create a new merchant</a>
        </li>
    </ul>
{% endblock %}
