{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shoppers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shopper in clients.list %}
            <tr>
                <td><a href="{{ path('app_shop_client_show', { 'id': shopper.id }) }}">{{ shopper.id }}</a></td>
                <td>{{ shopper.fullName }}</td>
                <td>{{ shopper.phone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_shop_client_show', { 'id': shopper.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
