{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shopper</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shopper.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ shopper.fullName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ shopper.phone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_shop_client_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
