{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kiwi{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import Google Font-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.css') }}"  media="screen,projection"/>
        <link rel="shortcut icon" type="image/png" href='/favicon.png'/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/bin/materialize.min.js') }}"></script>
        {% if app.request.get('_route') != 'app_core_security_login' and app.request.get('_route') != 'app_shop_order_new' and app.request.get('_route') != 'app_shop_order_index' and app.request.get('_route') != 'app_shop_shipper_index' and app.request.get('_route') != 'app_manager_index' and is_granted('ROLE_MERCHANT_MANAGER') %}
            <header id="header" class="page-topbar">
                <div class="navbar-fixed">
                    <nav>
                        <div class="nav-wrapper">
                            <span class="header-item"><a href="#!" class="brand-logo">Kiwi</a></span>
                            <span class="header-item logout"><a href="{{ path('app_core_security_logout') }}">Logout</a></span>
                        </div>
                    </nav>
                </div>
                <div class="nav-wrapper">
                    <ul id="nav-menu-header" class="menu-container">
                        <li class="menu-item {% if app.request.get('_route') == 'app_shop_user_index' %}active{% endif %}"><a href="{{ path('app_shop_user_index') }}">Usuarios</a></li>
                        <li class="menu-item {% if app.request.get('_route') == 'app_shop_client_index' %}active{% endif %}"><a href="{{ path('app_shop_client_index') }}">Clientes</a></li>
                        <li class="menu-item {% if app.request.get('_route') == 'app_shop_store_index' %}active{% endif %}"><a href="{{ path('app_shop_store_index') }}">Tienda</a></li>
                        <li class="menu-item {% if app.request.get('_route') == 'app_shop_merchant_index' %}active{% endif %}"><a href="{{ path('app_shop_merchant_index') }}">Empresa</a></li>
                        <li class="menu-item {% if app.request.get('_route') == 'app_shop_order_index' %}active{% endif %}"><a href="{{ path('app_shop_order_index') }}">Pedidos</a></li>
                        <li class="menu-item {% if app.request.get('_route') == 'app_shop_location_index' %}active{% endif %}"><a href="{{ path('app_shop_location_index') }}">Direcciones</a></li>
                    </ul>
                </div>
            </header>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endspaceless %}
