{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Editar tienda</h1>
        <div class="row">
            <div class="col s12 m6 l6">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Guardar" class="btn btn-block"/>
                {{ form_end(edit_form) }}
            </div>
            <div class="col s12 m6 l6">
                <div class="col s4"><input id="start_time" type="text" class="timepicker"></div>
                <div class="col s4"><input id="end_time" type="text" class="timepicker"></div>
                <div class="col s4"><span class="btn" id="createTSButton" data-id="{{ store.id }}"> Crear</span></div>
                <div class="col s12">
                    <div class="switch">
                        <label>
                            <input type="checkbox" {% if store.isExpressEnabled %}checked{% endif %}>
                            <span class="lever leverExpress" id="{{ store.id }}"></span>
                            Express
                        </label>
                    </div>
                    {% for ts in store.timespans.list %}
                        <div class="switch">
                            <label>
                                <input type="checkbox" {% if not ts.isClosed %}checked{% endif %}>
                                <span class="lever ts-checkbox" id="{{ ts.id }}"></span>
                                {{ ts.startTime|date("H:i") }} - {{ ts.endTime|date("H:i") }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('app_shop_store_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {% block javascript %}
    <script type = "text/javascript" >
        "use strict";

    $(document).ready(function () {
        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            aftershow: function () {
            } //Function for after opening timepicker
        });

        $('#flash').delay(500).fadeIn('normal', function () {
            $(this).delay(4500).fadeOut();
        });

        $(".ts-checkbox").click(function () {
            let lever  = this;
            let parent = lever.parentNode;
            let input  = parent.getElementsByTagName('input');
            let id     = lever.getAttribute('id');
            let url    = window.location.protocol + "//" + window.location.host + '/api/shop/timespan/' + id;

            if (input[0].checked) {
                url += '/close';
                input[0].checked = false;
            } else {
                url += '/open';
                input[0].checked = true;
            }
            input[0].disabled = true;

            let xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                input[0].disabled = false;
            };
            xhr.send();


        });

        $(".leverExpress").click(function () {
            let lever  = this;
            let parent = lever.parentNode;
            let input  = parent.getElementsByTagName('input');
            let id     = lever.getAttribute('id');
            let url    = window.location.protocol + "//" + window.location.host + '/api/shop/store/' + id;

            if (input[0].checked) {
                url += '/disable-express';
                input[0].checked = false;
            } else {
                url += '/enable-express';
                input[0].checked = true;
            }

            input[0].disabled = true;

            let xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                console.log(xhr.responseText);
                input[0].disabled = false;
            };
            xhr.send();

        });

        $("#createTSButton").click(function () {
            let button = this;
            button.className += ' disabled';
            let id     = button.getAttribute('data-id');
            let start  = document.getElementById('start_time');
            let end    = document.getElementById('end_time');

            if (start.value === '') {
                return;
            }
            if (end.value === '') {
                return;
            }

            let hourStart = (start.value).substring(0, 2);
            let hourEnd   = (end.value).substring(0, 2);
            let minStart  = (start.value).substring(3, 5);
            let minEnd    = (end.value).substring(3, 5);

            if (parseInt(hourEnd) < parseInt(hourStart)) {
                return;
            }

            if (parseInt(hourEnd) === parseInt(hourStart)) {
                if (parseInt(minEnd) < parseInt(minStart)) {
                    return;
                }
            }

            let url = window.location.protocol + "//" + window.location.host + '/api/shop/store/' + id + '/add-timespan';

            let json = JSON.stringify({
                start_time: start.value,
                end_time: end.value,
                id: id
            });

            let xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onsuccess = () => {
                console.log(xhr.responseText);

                location.reload();
            };
            xhr.send(json);
        });
    });
    </script>
    {% endblock %}
{% endblock %}
