{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stores list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores.list %}
            <tr>
                <td><a href="{{ path('app_shop_store_show', { 'id': store.id }) }}">{{ store.id }}</a></td>
                <td>{{ store.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_shop_store_show', { 'id': store.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_shop_store_edit', { 'id': store.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_shop_store_new') }}">Create a new store</a>
        </li>
    </ul>
{% endblock %}
