{% extends 'base.html.twig' %}

{% block body %}
    {% set pendingStatus = 0 %}
    {% set otherStatus = 0 %}
    {% set express = '' %}
    {% set stores = [] %}
    {% for order in orders.list %}
        {% if order.status == 'pending' or order.status == 'ongoing' or order.status == 'inside' %}
            {% set pendingStatus = pendingStatus + 1 %}
        {% else %}
            {% set otherStatus = otherStatus + 1 %}
        {% endif %}
        {% if order.store.name not in stores %}
            {% set stores = stores|merge({ (order.store.id) : order.store.name }) %}
        {% endif %}
    {% endfor %}
    <div class="orderList-wrapper">
        <div class="parallax-container">
            <div class="overlay"></div>
            <div class="container">
                <h3 class="header center">Servicio a domicilio</h3>
            </div>
            <div class="parallax"><img src="{{ asset('images/bg-food.jpg') }}"></div>
        </div>
        <div class="row shadow">
            <div class="col col-title s12">
                <div class="container">
                    <p>
                        {{ merchant.name }}
                        <span class="right"><a class="logout" href="/logout">Salir</a></span>
                        <span class="badge-container">Entregas Pendientes<span
                                    class="badge pending">{{ pendingStatus }}</span></span>
                        <span class="badge-container">Entregas Realizadas<span
                                    class="badge delivered">{{ otherStatus }}</span></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-datepicker">
                <div class="date-selector">
                    <label class="active" for="date">Día de reparto</label>
                    <input type="text" name="date" class="datepicker">
                </div>
                <div class="shift-selector">
                    <label class="active" for="date">Momento del día</label>
                    <select id="momentDay" onchange="filterByMomentDay(this)">
                        <option value="choose">Todos</option>
                        <option value="morning">Mañana</option>
                        <option value="afternoon">Tarde</option>
                    </select>
                </div>
                <div class="store-selector">
                    <label class="active" for="date">Tienda</label>
                    <select id="storeSelect" onchange="filterByStore(this)">
                        <option value="choose">Todos</option>
                        {% for key,value in stores %}
                            <option value={{ key }}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="clean-filters">
                    <a href="/order">Limpiar Filtros</a>
                </div>
            </div>
            <div class="row table-orders">

                <table class="orders-table striped">
                    <thead>
                    <tr>
                        <th>Creado</th>
                        <th>Tienda</th>
                        <th>Cliente</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Franja</th>
                        <th>Cajas</th>
                        <th>Entregado</th>
                        <th>Repartidor</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders.list %}
                        {% if order.express %}
                            {% set express = 'express' %}
                        {% endif %}

                        {% if order.status == 'pending' %}
                            {% set ES_status = 'Pendiente' %}
                        {% endif %}

                        {% if order.status == 'ongoing' %}
                            {% set ES_status = 'En camino' %}
                        {% endif %}

                        {% if order.status == 'inside' %}
                            {% set ES_status = 'En el domicilio' %}
                        {% endif %}

                        {% if order.status == 'delivered' %}
                            {% set ES_status = 'Entregado' %}
                        {% endif %}

                        {% set totalBoxes = order.boxes + order.cooled + order.frozen %}

                        <tr>
                            <td>{{ order.createdAt|date('H:i') }}h</td>
                            <td>{{ order.store.name }}</td>
                            <td>{{ order.clientName }}</td>
                            <td>{{ order.clientPhone }}</td>
                            <td>{{ order.destination.address }}</td>
                            <td class="{{ express }}">{% if order.express %}Inmediato
                                    <br>{% endif %}{% if order.startTime %}{{ order.startTime|date('H:i') }}h{% endif %}{% if order.endTime %}-{{ order.endTime|date('H:i') }}h{% endif %}
                            </td>
                            <td>{{ totalBoxes }}</td>
                            <td>{% if order.insideAt is not null %}{{ order.insideAt|date('H:i') }}h{% endif %}</td>
                            <td>{% if order.shipper.isNotEmpty %}{{ order.shipper.name }}({{ order.shipper.phone }}){% else %}Gustavo (+34 698 622 486){% endif %}</td>
                            <td class="{{ order.status }}">{{ ES_status }}</td>
                        </tr>
                        {% set express = '' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script type="text/javascript">
            function filterByMomentDay(select) {
                let date = getDateFromDatePicker();
                let dateForfilter = 'date=' + date[0] + '-' + date[1] + '-' + date[2];
                let url = window.location.href;
                let arrayUrl = url.split('?');
                let moment = '';
                let store = '';
                let valueSelectStore = document.getElementById('storeSelect').value;

                if (valueSelectStore !== 'choose') {
                    store = ';storeId,eq,' + valueSelectStore;
                }

                if (select.value === 'morning') {
                    moment = '&filters=endTime,lte,' + 14;
                } else if (select.value === 'afternoon') {
                    moment = '&filters=endTime,gt,' + 14;
                }

                window.location.href = arrayUrl[0] + '?' + dateForfilter + moment + store;
            }

            function filterByStore(select) {
                let date = getDateFromDatePicker();
                let dateForfilter = 'date=' + date[0] + '-' + date[1] + '-' + date[2];

                let url = window.location.href;
                let arrayUrl = url.split('?');
                let moment = '';
                let store = '';
                let valueSelectMomentDay = document.getElementById('momentDay').value;

                if (select.value !== 'choose') {
                    if (valueSelectMomentDay === 'choose') {
                        store = '&filters=storeId,eq,' + select.value;
                    }
                    else {
                        store = ';storeId,eq,' + select.value;
                    }
                }

                if (valueSelectMomentDay === 'morning') {
                    moment = '&filters=endTime,lte,' + 14;
                } else if (valueSelectMomentDay === 'afternoon') {
                    moment = '&filters=endTime,gt,' + 14;
                }

                window.location.href = arrayUrl[0] + '?' + dateForfilter + moment + store;
            }

            function getDateFromDatePicker() {
                let datepicker = $('.datepicker');
                let year = datepicker.pickadate('picker').get('highlight', 'yyyy');
                let day = datepicker.pickadate('picker').get('highlight', 'dd');
                let month = datepicker.pickadate('picker').get('highlight', 'mm');

                return [day, month, year];
            }

            function optionExists(val) {
                return $("#storeSelect").find("option[value='" + val + "']").length !== 0;
            }

            $(document).ready(function () {
                $('.parallax').parallax();
                let date = new Date();
                let datepicker = $('.datepicker');
                let url = window.location.href;
                let arrayUrl = url.split('?');
                if (arrayUrl.length > 1) {
                    let co = arrayUrl[1].split('=');
                    let se = co[1].split('-');
                    let y = parseInt(se[2]);
                    let m = parseInt(se[1]) - 1;
                    let d = parseInt(se[0]);
                    date.setDate(d);
                    date.setMonth(m);
                    date.setFullYear(y);
                }
                datepicker.pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year,
                    today: 'Hoy',
                    clear: 'Borrar',
                    close: 'Cerrar',
                    firstDay: 1,
                    monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                    weekdaysLetter: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                    closeOnSelect: false, // Close upon selecting a date,
                    onStart: function () {
                        this.set('select', date); // Set to current date on load
                    },
                    onClose: function () {
                        let year = $('.datepicker').pickadate('picker').get('highlight', 'yyyy');
                        let day = $('.datepicker').pickadate('picker').get('highlight', 'dd');
                        let month = $('.datepicker').pickadate('picker').get('highlight', 'mm');
                        window.location.href = arrayUrl[0] + '?date=' + day + '-' + month + '-' + year;
                    },
                });

                if (arrayUrl[1]) {
                    let selectStore = document.getElementById('storeSelect');
                    let selectMomentDay = document.getElementById('momentDay');
                    let filtersUrl = arrayUrl[1].split(',');
                    let filterStoreUrl = arrayUrl[1].split('storeId');

                    if (filtersUrl[1] === 'gt') {
                        selectMomentDay.value = 'afternoon';
                    }
                    else if (filtersUrl[1] === 'lte') {
                        selectMomentDay.value = 'morning';
                    }

                    if (filterStoreUrl[1] && optionExists(filterStoreUrl[1].split(',')[2])) {
                        selectStore.value = filterStoreUrl[1].split(',')[2];
                    }
                }
            });
        </script>
    {% endblock %}
{% endblock %}
