{% extends 'base.html.twig' %}

{% block body %}
    <div class="formNewOrder-wrapper">

        <div class="parallax-container">
            <div class="overlay"></div>
            <div class="container">
                <h3 class="header center">Servicio a domicilio</h3>
            </div>
            <div class="parallax"><img src="{{ asset('images/bg-food.jpg') }}"></div>
        </div>

        <div class="row">
            <div class="col col-title s12"><p>Datos del Cliente<span class="right"><a class="logout" href="/logout">Salir</a></span>
                </p></div>
        </div>

        {% for message in app.flashes('notice') %}
            <div id="flash" class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        <form id="newOrder" action="/order/new" method="post">
            <div class="row">
                <div class="col s12">
                    <div class="col s6">
                        <div class="input-field col s12">
                            <input id="phone" name="phone" type="tel" class="validate"
                                   onfocusout="fillForm()" required>
                            <label id="phone-label" class="active" for="phone">Número de teléfono</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="name" name="name" type="text" class="validate" required>
                            <label id="name-label" class="active" for="name">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="surname" name="surname" type="text" class="validate" required>
                            <label id="surname-label" class="active" for="surname">Apellidos</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="postalCode" name="postalCode" type="tel" class="validate" required>
                            <label id="postalCode-label" class="active" for="postalCode">Código Postal</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field col s12">
                            <input id="streetName" name="streetName" type="text" class="validate" required>
                            <label id="streetName-label" class="active" for="streetName">Calle</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="streetNumber" name="streetNumber" type="number" class="validate" required>
                            <label id="streetNumber-label" class="active" for="streetNumber">Número</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="floor" type="text" name="floor" class="validate">
                            <label id="floor-label" class="active" for="floor">Piso</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="door" type="text" name="door" class="validate">
                            <label id="door-label" class="active" for="door">Puerta</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="stairBuilding" name="stairBuilding" type="text" class="validate">
                            <label id="stairBuilding-label" class="active" for="stairBuilding">Escalera</label>
                        </div>
                    </div>
                    <div class="hidden-inputs">
                        <input type="hidden" name="city" value="Barcelona">
                        <input type="hidden" name="province" value="Barcelona">
                        <input type="hidden" id="code">
                        <input type="hidden" name="merchant_id" value="{{ merchant.id }}">
                        <input type="hidden" id="location_id">
                        <input type="hidden" id="shopper_id">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-title s12"><p>Pedido</p></div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="input-field col s12">
                        <input id="boxes" type="number" name="boxes" class="validate">
                        <label class="active" for="boxes">Cajas</label>
                    </div>
                </div>
                {% if merchant.name == 'CondisLife' %}
                    <div class="col s4">
                        <div class="input-field col s12">
                            <input id="boxes" type="number" name="frozen" class="validate">
                            <label class="active" for="frozen">Congelados</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field col s12">
                            <input id="boxes" type="number" name="cooled" class="validate">
                            <label class="active" for="cooled">Refrigerados</label>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col col-title s12"><p>Datos adicionales</p></div>
            </div>
            {% if merchant.name == 'CondisLife' %}
                <div class="row">
                    <div class="col s6">
                        <p>
                            <input type="checkbox" name="elevator" class="filled-in" id="elevator"/>
                            <label for="elevator">Con ascensor</label>
                        </p>
                    </div>
                    <div class="col s6 hidden">
                        <p>
                            <input type="checkbox" name="stepelevator" class="filled-in" id="stepElevator"/>
                            <label for="stepElevator">Escalera pre ascensor</label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <textarea id="annotation" name="annotation" class="materialize-textarea"></textarea>
                            <label for="annotation">Observaciones</label>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if merchant.name == 'Ametller Origen' %}
                <div class="row">
                    <div class="col s6">
                        <p>
                            <input type="checkbox" name="needs_payment" class="filled-in" id="needs_payment"/>
                            <label for="needs_payment">Cobrar</label>
                        </p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col col-title s12"><p>Franja horaria de Entrega</p></div>
            </div>
            {% if "now"|date("H") < 24 %}
                <div class="row">
                    <div class="col s6">
                        {% if store.isExpressEnabled and merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="shift" value="express" type="radio" id="express"
                                       required/>
                                <label for="express">Servicio Express</label>
                            </p>
                        {% endif %}
                        {% if store.isExpressEnabled and merchant.name == 'Ametller Origen' and (("now"|date("H") >= 10) and ("now"|date("H")) < 15) or (("now"|date("H") >= 17) and ("now"|date("H") < 20)) %}
                            <p>
                                <input class="with-gap" name="shift" value="express" type="radio" id="express"
                                       required/>
                                <label for="express">Servicio Express</label>
                            </p>
                        {% endif %}
                        {% if "now"|date("H") < 13 and merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="shift" value="morning" type="radio" id="morning"
                                       required/>
                                <label for="morning">Mañana</label>
                            </p>
                        {% endif %}
                        {% if "now"|date("H") < 14 and merchant.name == 'Ametller Origen' %}
                            <p>
                                <input class="with-gap" name="shift" value="morning" type="radio" id="morning"
                                       required/>
                                <label for="morning">Mañana</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="shift" value="afternoon" type="radio" id="afternoon"
                                   required/>
                            <label for="afternoon">Tarde</label>
                        </p>
                        <p>
                            <input class="with-gap" name="shift" value="tomorrow" type="radio" id="tomorrow" required/>
                            <label for="tomorrow">+1 dí­a</label>
                        </p>
                    </div>

                    {% set breakpoint = 13 %}

                    {% if merchant.name == 'CondisLife' %}
                        {% set breakpoint = 13 %}
                    {% endif %}
                    {% if merchant.name == 'Ametller Origen' %}
                        {% set breakpoint = 15 %}
                    {% endif %}

                    <div class="col s6 morning-windows hidden">

                        {% for ts in store.timespans.list %}
                            {% if not ts.isClosed and "now"|date("H") < ts.startTime|date("H") and ts.startTime|date("H") < breakpoint %}
                                <p>
                                    <input class="with-gap" name="morning"
                                           value="{{ ts.startTime|date("H:i") }}-{{ ts.endTime|date("H:i") }}"
                                           type="radio" id="{{ ts.id }}"/>
                                    <label for="{{ ts.id }}">{{ ts.startTime|date("H:i") }}
                                        - {{ ts.endTime|date("H:i") }}</label>
                                </p>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col s6 afternoon-windows hidden">
                        {% for ts in store.timespans.list %}
                            {% if not ts.isClosed and "now"|date("H") < ts.startTime|date("H") and ts.startTime|date("H") > breakpoint %}
                                <p>
                                    <input class="with-gap" name="afternoon"
                                           value="{{ ts.startTime|date("H:i") }}-{{ ts.endTime|date("H:i") }}"
                                           type="radio" id="{{ ts.id }}"/>
                                    <label for="{{ ts.id }}">{{ ts.startTime|date("H:i") }}
                                        - {{ ts.endTime|date("H:i") }}</label>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col s6 tomorrow-windows hidden">
                        <p>
                            <input class="with-gap" name="tomorrow" value="10:00-11:00" type="radio" id="toel"/>
                            <label for="toel">10:00 - 11:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="10:30-11:30" type="radio" id="toel2"/>
                                <label for="toel2">10:30 - 11:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="11:00-12:00" type="radio" id="toel3"/>
                            <label for="toel3">11:00 - 12:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="11:30-12:30" type="radio" id="tohel"/>
                                <label for="tohel">11:30 - 12:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="12:00-13:00" type="radio" id="totw"/>
                            <label for="totw">12:00 - 13:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="12:30-13:30" type="radio" id="tohtw"/>
                                <label for="tohtw">12:30 - 13:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="13:00-14:00" type="radio" id="toth"/>
                            <label for="toth">13:00 - 14:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="13:30-14:30" type="radio" id="toet2"/>
                                <label for="toet2">13:30 - 14:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="14:00-15:00" type="radio" id="toft"/>
                            <label for="toft">14:00 - 15:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="14:30-15:30" type="radio" id="toft2"/>
                                <label for="toft2">14:30 - 15:30</label>
                            </p>
                            <p>
                                <input class="with-gap" name="tomorrow" value="15:00-16:00" type="radio" id="toft3"/>
                                <label for="toft3">15:00 - 16:00</label>
                            </p>
                            <p>
                                <input class="with-gap" name="tomorrow" value="15:30-16:30" type="radio" id="toft4"/>
                                <label for="toft4">15:30 - 16:30</label>
                            </p>
                            <p>
                                <input class="with-gap" name="tomorrow" value="16:00-17:00" type="radio" id="tofo1"/>
                                <label for="tofo1">16:00 - 17:00</label>
                            </p>
                            <p>
                                <input class="with-gap" name="tomorrow" value="16:30-17:30" type="radio" id="tofo2"/>
                                <label for="tofo2">16:30 - 17:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="17:00-18:00" type="radio" id="tofif"/>
                            <label for="tofif">17:00 - 18:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="17:30-18:30" type="radio" id="tofif2"/>
                                <label for="tofif2">17:30 - 18:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="18:00-19:00" type="radio" id="toet"/>
                            <label for="toet">18:00 - 19:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="18:30-19:30" type="radio" id="tohet"/>
                                <label for="tohet">18:30 - 19:30</label>
                            </p>
                        {% endif %}
                        <p>
                            <input class="with-gap" name="tomorrow" value="19:00-20:00" type="radio" id="toni"/>
                            <label for="toni">19:00 - 20:00</label>
                        </p>
                        {% if merchant.name == 'CondisLife' %}
                            <p>
                                <input class="with-gap" name="tomorrow" value="19:30-20:30" type="radio" id="tohni"/>
                                <label for="tohni">19:30 - 20:30</label>
                            </p>
                            <p>
                                <input class="with-gap" name="tomorrow" value="20:00-21:00" type="radio" id="totwe"/>
                                <label for="totwe">20:00 - 21:00</label>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 submit-button-container"><input type="submit" value="Confirmar Pedido"
                                                                        class="submit-form btn"
                                                                        onclick="disableButton(this)"/></div>
                </div>
            {% else %}
                <div class="row">
                    <p class="center">Servicio no disponible</p>
                </div>
            {% endif %}
        </form>
    </div>

    {% block javascript %}
        <script type="text/javascript">
            "use strict";

            function disableButton(button) {
                if ($("#newOrder")[0].checkValidity()) {
                    console.warn('Form valid');
                    button.className += ' disabled';
                }
            }

            function addInfoFormDOM(alldata) {
                let data = alldata.client;
                let fullName = data.fullname;
                let shopper_id = data.id;
                let location_id = data.location.id;
                let name = fullName.substr(0, fullName.indexOf(' '));
                let surname = fullName.substr(fullName.indexOf(' ') + 1);
                let streetFullName = data.location.name;
                let streetInfo = streetFullName.split(/[0-9]/);
                let streetNumber = streetFullName.match(/[0-9]+/g);
                let streetName = streetInfo[0].split(',')[0];
                let floor = data.location.floor;
                let door = data.location.door;
                let postalCode = data.location.postalCode;
                let stair = data.location.stairBuilding;
                let elevator = data.location.hasElevator;
                let stepElevator = data.location.stepElevator;

                //Name
                let inputName = document.getElementById('name');
                let labelName = document.getElementById('name-label');
                inputName.value = name;
                inputName.className += ' valid';
                labelName.className += ' active';

                //Surname
                let inputSurname = document.getElementById('surname');
                let labelSurname = document.getElementById('surname-label');
                inputSurname.value = surname;
                inputSurname.className += ' valid';
                labelSurname.className += ' active';

                //StreetName
                let inputNameStreet = document.getElementById('streetName');
                let labelStreetName = document.getElementById('streetName-label');
                inputNameStreet.value = streetName;
                inputNameStreet.className += ' valid';
                labelStreetName.className += ' active';

                //StreetNumber
                let inputNumberStreet = document.getElementById('streetNumber');
                let labelStreetNumber = document.getElementById('streetNumber-label');
                inputNumberStreet.value = parseInt(streetNumber);
                inputNumberStreet.className += ' valid';
                labelStreetNumber.className += ' active';

                //Floor
                let inputFloor = document.getElementById('floor');
                let labelFloor = document.getElementById('floor-label');
                inputFloor.value = floor;
                inputFloor.className += ' valid';
                labelFloor.className += ' active';

                //Door
                let inputDoor = document.getElementById('door');
                let labelDoor = document.getElementById('door-label');
                inputDoor.value = door;
                inputDoor.className += ' valid';
                labelDoor.className += ' active';

                //PostalCode
                let inputPostalCode = document.getElementById('postalCode');
                let labelPostalCode = document.getElementById('postalCode-label');
                inputPostalCode.value = postalCode;
                inputPostalCode.className += ' valid';
                labelPostalCode.className += ' active';

                //StairBuilding
                let inputStair = document.getElementById('stairBuilding');
                let labelStair = document.getElementById('stairBuilding-label');
                inputStair.value = stair;
                inputStair.className += ' valid';
                labelStair.className += ' active';

                /*
                //Elevator
                let inputElevator = document.getElementById('elevator');
                inputElevator.checked = elevator;

                //StepElevator
                let inputStepElevator = document.getElementById('stepElevator');
                inputStepElevator.checked = stepElevator;
                */

                //Shopper
                let inputShopper = document.getElementById('shopper_id');
                inputShopper.value = shopper_id;
                inputShopper.name = 'client_id';

                //Location
                let inputLocation = document.getElementById('location_id');
                inputLocation.value = location_id;
                inputLocation.name = 'location_id';
            }

            function fillForm() {
                let phone = document.getElementById('phone').value;
                let inputCode = document.getElementById('code');
                inputCode.value = phone;
                inputCode.name = 'code';
                let xhr = new XMLHttpRequest();
                let input = document.getElementById('phone');
                let json = {"phone": input.value};
                xhr.open('GET', '/order/find_user_phone?parts=location&' + jQuery.param(json), true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = () => {
                    let data = JSON.parse(xhr.responseText);
                    if (xhr.status === 200) {
                        addInfoFormDOM(data);
                        console.log(data);
                    }
                };
                xhr.send(JSON.stringify(json));
            }

            $(document).ready(function () {
                $('.parallax').parallax();

                $('#flash').delay(500).fadeIn('normal', function () {
                    $(this).delay(4500).fadeOut();
                });

                $("#express").click(function () {
                    $(".morning-windows").addClass('hidden');
                    $(".tomorrow-windows").addClass('hidden');
                    $(".afternoon-windows").addClass('hidden');
                });
                $("#morning").click(function () {
                    $(".afternoon-windows").addClass('hidden');
                    $(".tomorrow-windows").addClass('hidden');
                    $(".morning-windows").removeClass('hidden');
                });

                $("#afternoon").click(function () {
                    $(".morning-windows").addClass('hidden');
                    $(".tomorrow-windows").addClass('hidden');
                    $(".afternoon-windows").removeClass('hidden');
                });

                $("#tomorrow").click(function () {
                    $(".morning-windows").addClass('hidden');
                    $(".afternoon-windows").addClass('hidden');
                    $(".tomorrow-windows").removeClass('hidden');
                });

                function getUuid() {
                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                        s4() + '-' + s4() + s4() + s4();
                }

                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
                }
            });
        </script>
    {% endblock %}
{% endblock %}
