<h1>Error 400</h1>
<p><b>Mensaje: </b>{{ exception.message }}</p>
<p>Este error aparece por que habrás hecho una petición (como al rellenar un formulario) y por algún motivo te habrás
dejado algún campo por rellenar. En tal caso avisa al frontend para que antes de enviar el formulario, este te avise de que
te faltan algún campo por rellenar</p>
