<h1>Error 409</h1>
<p><b>Mensaje: </b>{{ exception.message }}</p>
<p>Este error puede ser por muchos motivos, por ejemplo que hayas rellenado un campo de un formulario pero no este correctamente
puesto y la web te haya dejado enviarlo tal cual, o puede ser un error del backend, en tal caso avisa de este error para
que se pueda corregir.</p>


