{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>User creation</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                {{ form_widget(form.username, { 'attr': {'class': 'validate'} }) }}
                <label for="icon_prefix">Username</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">enhanced_encryption</i>
                {{ form_widget(form.password, { 'attr': {'class': 'validate'} }) }}
                <label for="icon_telephone">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">face</i>
                {{ form_widget(form.name, { 'attr': {'class': 'validate'} }) }}
                <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                {{ form_widget(form.phone, { 'attr': {'class': 'validate'} }) }}
                <label for="icon_telephone">Telephone</label>
            </div>
        </div>

        <div class="row center">
            {{ form_widget(form.role, { 'attr': {'class': 'validate'} }) }}
        </div>

        <div class="row">
            {{ form_widget(form.store, { 'attr': {'class': 'col s4 offset-s1'} }) }}
            {{ form_widget(form.merchant, { 'attr': {'class': 'col s4 offset-s1'} }) }}
        </div>




        {{ form_widget(form) }}

        <div class="row">
            <div class="center">
                <input type="submit"  class="btn" value="Create" />
            </div>
        </div>

        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('app_shop_user_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
